<ion-modal-view >
  <div ng-controller="ListCtrl">
    <ion-header-bar>
      <h1 class="title">Group Name{{ currentEvent[0].name }}</h1>
      <a class="button button-calm ion-chevron-left" ng-click="closeModal(1)" >
        back
      </a>
    </ion-header-bar>
  </div>

  <ion-content class="contentDiv adminDiv">
    <img src="http://static1.squarespace.com/static/5237edb1e4b019e0e587e9a5/525d34f2e4b0fb967a4d6fc0/525d34fde4b076bd2b772922/1381840128359/Ketubah-design-inpiration6.jpg" alt="" class="adminImg"></img>

      <h3 class="adminPar ">Mixer will start in...</h3>

      <div class="timeDiv" ng-controller="TimerCtrl">

      <div class="button button-positive ion-plus add1"></div>
      <div class="button button-positive ion-plus add2"></div>
      <div class="button button-positive ion-android-remove sub1"></div>
      <div class="button button-positive ion-android-remove sub2"></div>

      <div class="eachNumCont">
        <input type="number" placeholder="00" ng-model="hours"></input>
        <div class="minSec"> minutes </div>
      </div>

      <div class="eachNumCont">
        <input type="number" placeholder="00" ng-model="minutes"></input>
        <div class="minSec"> seconds </div>
      </div>



        <div class="timerBnts">
          <button class="button button-positive ion-play eachTimerBtn" ng-click="playTimer(timeInput)"> </button>
          <button class="button button-positive ion-pause eachTimerBtn" ng-click="pauseTimer()"> </button>
          <button class="button button-positive ion-stop eachTimerBtn" ng-click="stopTimer()">  </button>
        </div>

      </div>

    <div class="usersWhoJoined" ng-controller="GuestCtrl">

      <h3>No. of Guests</h3>

      <!--   <ion-item class="displayNameList" collection-repeat="guest in guests" item-width="80%" item-height="50px">
          <h2>{{ guest.name }}</h2>
        </ion-item> -->
    </div>

  </ion-content>
</ion-modal-view>