<ion-view view-title="Create">
  <ion-content class="padding">

    <!-- <fieldset> -->

      <div class="list">
        <p>When was the last time you turned your mobile phone off (not just on silent)?</p>

        <p>What was your first email address?</p>

        <p>How many e-mails are sitting in your inbox?</p>

        <p>What technology do you think you will never adopt?</p>

        <p>In what way are your parents out of date?</p>

        <p>What single piece of technology makes your life easier?</p>

        <p>What makes this an amazing time to live?</p>

        <p>How many email addresses do you use on a regular basis?</p>

        <p>What is the best invention during your lifetime?</p>

        <p>How old where you when you got your first computer?</p>

        <p>What technology scares you?</p>

        <p>What was your first car?</p>

        <p>What makes you feel old?</p>

        <p>How has the internet affected you life?</p>

        <p>How many e-mails do you get in a day?</p>

        <p>What was your favorite childhood toy</p>

        <p>What is your dream car?</p>

        <p>What was your first bike like?</p>

        <p>How many text messages do you receive in a day?</p>

        <p>What technology bugs you when other people refuse to adopt it?</p>
      </div>
    <!-- </fieldset> -->


  </ion-content>
</ion-view>