<ion-modal-view ng-init="findFoundBtn=false">

  <div>
    <ion-header-bar>

      <button ng-style="myStyle2" class="button button-clear" ng-click="closeModal(2)">Sign out</button>


      <button ng-style="myStyle2" class="button button-small ion-close" ng-click="closeModal(2)"></button>


    </ion-header-bar>

    <ion-content ng-style="myStyle" class="contentDiv">
    <h3>{ event.name } mixer starts in...</h3>

      <div class="countdownTimer">
        <p>{{ startTime }}</p>
      </div>

      <div class="padding" ng-controller="testCtrl" >
        <div blt-countdown-timer type="hms" date="Sat, 19 March 2016 00:00:00 PST"></div>
      </div>

       <a class="button" value="color button" ng-click="myStyle=setColor(); findFoundBtn=true;"></a>

      <div class="colorButton" ng-show="findFoundBtn">
        <a class="button button-large button-outline button-light" href="#/tab/chats">Find Group</a>

        <a id="guestQs" class="button button-icon ion-help-circled"></a>

        <a id="foundGroup" class="button button-large button-outline button-light" ng-click="myStyle=resetColor();">Found Group</a>

      </div>

    </ion-content>
  </div>
</ion-modal-view>
