<ion-view class="guestDiv">
  <ion-header-bar>
    <h1 class="title">Mixer</h1>
  </ion-header-bar>
  <ion-content ng-style="myStyle">
  <h3 >Welcome to Mixer {{ event }}!</h3>
    Mixer starts in...
    <div class="padding" ng-controller="testCtrl" >
      <div blt-countdown-timer type="hms" date="Wed, 18 March 2016 00:00:00 GMT"></div>
    </div>

<!--     <a class="button button-calm ion-chevron-left" href="#/tab" ng-click="" >
      back
    </a> -->

    <!-- <div ng-controller="testCtrl"> -->
     <a class="button" value="color button" ng-click="myStyle=setColor(); findFoundBtn=true"></a>
    <!-- </div> -->

    <div class="colorButton" ng-show="findFoundBtn">
      <a class="button button-block button-outline" href="#/tab/chats">Find Group</a>
      <a class="button button-block button-outline" ng-click="myStyle=resetColor()">Found Group</a>
    </div>

  </ion-content>
</ion-view>
