<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Suggestion Qs -->
  <ion-tab class="questionIcon" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/create">
    <ion-nav-view name="suggestion-qs"></ion-nav-view>
  </ion-tab>

  <!-- Enter Tab-->
  <ion-tab title="Exit" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>


